@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);


main {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F5F5F5;
}

h1, h2 {
  position: absolute;
  display: block;
  color: white;
  font-size: 35px;
  padding-top: 2%;
  text-align: left;
  padding-left: 1%;
  font-family: 'Julius Sans One', sans-serif;
}


#advanced-options{
    box-sizing: border-box;
    width: 100%;
    padding-top: 2%;
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid black;
    filter: alpha(opacity=80); 
    color: white;
    position: relative; 
    z-index: 2;
    margin: auto;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
    font-family: 'Julius Sans One', sans-serif;
  }

#background {
  background-image: url("https://image.ibb.co/hMHMDk/Messages_Image_2165322734.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 500px) {
 #background{ height: 250px}
}


a {
  text-decoration: none;
}

a[href] {
  cursor: pointer;
}
 
#map {
  height: 350px;
  max-width: 600px;
  margin-left: 7%;
  margin-left: 7%;
  border: 5px solid orange;
  opacity: 1.0;
  cursor: pointer;
  margin: auto;
}
@media only screen and (max-width: 575px) {
 #map{ zoom: 100%;
       width: 88%;
       margin-left: 2%;
       margin-right: 5%;}
}



#map-container {
  box-sizing: border-box;
  background: cover;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
 

.nav li a span {
    display: inline-block;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: white;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: white;
}

.dropdown-toggle {
  color: white;
}

ul li {
  text-decoration: none;
  align-items: middle;
}

ul.dropdown-menu {
  padding: 0;
}


li {
  list-style-type: none;
  }

h4 {
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  text-decoration: underline;
  cursor: pointer;
}

h3:hover{
  color: orange;
}

#background-2 {
  padding: 20px;
  color: orange;
  font: 30px;
}

#background-2 a:hover{
  color: green;
}

h5 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}
@media only screen and (max-width: 750px) {
 h5 { font-size: 12px;
      line-height: 2vw;}
 }


#name{
  margin-top: 3%;
  padding-bottom: 3%;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

#js-description {
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  box-sizing: border-box;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 50px;
  padding: 15px;
  text-align: left;
  color: black;
  background-color: white;
  background: rgb(255,255,0.5);
  border: 1px grey;
  text-overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
  @media only screen and (max-width: 600px) {
 #js-description, .name{ 
  align-content: center;
  margin: 50px auto;
  width: 100%;
  text-overflow: hidden;}
}



#phone {
  padding-top: 2%;
}

.profile-image{
  width: 50%;
  box-sizing: border-box;
  align-content: center;
  padding: 10px 10px 0 0 ;
}

.name:hover{
  color: orange;
}

.name:active{
  color: green;
}

#breed{
  margin-top: 20px;
}

#description{
  margin-bottom: 20px;
  text-overflow: hidden;
}

.card {
  transition: all .3s;
  box-shadow: 1px 1px 5px black;
  color: white;
  background-color: #f4f4f4;
  margin: 10px auto;
  height: 600px;
  position: relative;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-image, .no-photo {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  position: absolute;
  align-content: center;
  opacity: 1.0;
  object-fit: cover;
}

.card-content {
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  color: #222;
  top: 68%;
}

#go-back {
  padding: 15px;
  top: 316px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  font-weight: bold;
  position: absolute;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
 #go-back{ top: 257px;}
}


#go-back:active {
  opacity: 1;
}

input {
  cursor: pointer;
}

#all {
  box-sizing: border-box;
  height: 22%;
  width: 90%;
  margin-left: 15%;
  position: relative;
  align-content: center;
  vertical-align: middle;
  display: inline-flex;
}
@media only screen and (max-width: 750px){
  #all{display: table-cell;}
  }
  

.gender, .age, .size, .animal {
  display: table-cell;
  margin: auto;
  font-size: 18px;
  align-self: middle;
}
@media only screen and (max-width: 750px) {
 .gender, .age, .size, .animal{ font-size: 15px;
                                line-height: 4vw;
                                float: left;}
}

