@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);


main {
  //font-family: 'Julius Sans One', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F0F0F0;
}

h1, h2 {
  position: absolute;
  color: white;
  font-size: 35px;
  padding-top: 2%;
  text-align: left;
  padding-left: 1%;
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 80%;
}

#to-top {
  position: fixed;
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  font-weight: bold;
  color: black;
  margin-left: 80%;
}

.transbox {
    box-sizing: border-box;
    margin-top: 0px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); 
    height: 100px;
    width: 100%;
    color: white;
    font-weight: bold;
    position: relative; 
}

#background {
  background-image: url("https://image.ibb.co/h6C7c5/boxer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}
@media only screen and (max-width: 500px) {
 #background{ height: 250px}
}


a {
  text-decoration: none;
}

a[href] {
  cursor: pointer;
}
 
#map {
  margin-left: 5%;
  margin-right: 5%;
  height: 425px;
  width: 88%;
  border: 5px solid orange;
  cursor: pointer;
}

#map-container {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  background: cover;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
 
#js-advanced-options {
    margin-top: 4%;
    align-content: flex-start;
    font-weight: bold;
    background-color: black;
    color: white;
  }

form {
  background-color: black;
  color: white;
}

#finder{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  font-weight: bold;
}

.nav {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
}

.nav li {
    display: block;
    list-style: none;
}

.nav .button-dropdown {
    position: relative;

}

.nav li a {
    display: inline-block;
    color: white;
    background-color: #000;
    padding: 10px 20px;
    text-decoration: none;
}

.nav li a span {
    display: inline-block;
    font-size: 20%;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.nav li .dropdown-menu {
    display: none;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    opacity: 1.0;
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 150px;
}

h4 {
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  text-decoration: underline;
}

h3:hover{
  color: orange;
}
#background-2 {
  padding: 20px;
}

#background-2 a:hover{
  color: orange;
}

h5 {
  font-weight: 30px bold;
  text-align: center;
  color: black;
  font-family: 'Julius Sans One', sans-serif;
}

.profile-image {
  box-sizing: border-box;
  border: 2px black;
}

#js-description, .name {
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
  padding-right: 3%;
  padding-left: 3%;
  text-align: left;
  line-height:;
  color: black;
  background: rgb(255,255,0.5);
}
  @media only screen and (max-width: 500px) {
 #js-description, .name{ 
  align-content: center;
  margin: auto;
  width: 100%}
}
}

#js-description #description {
  text-align: justify;
  color: red;
}

.name {
  text-decoration: underline;
  margin-bottom: 2%;
  padding-top: 2%;
}

.profile-image{
  width: 100%;
  box-sizing: border-box;
  align-content: center;
  opacity: 1.0;
}

.name:hover{
  color: orange;
}

.name:active{
  color: orange;
}

.card {
  transition: all .3s;
  box-shadow: 1px 1px 5px black;
  color: white;
  background-color: #f4f4f4;
  margin: 10px auto;
  height: 500px;
  position: relative;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}



.card-image, .no-photo {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  position: absolute;
  align-content: center;
  opacity: 1.0;
  object-fit: cover;
  object-position: top;
  
}

.card-content {
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  color: #222;
  top: 60%;
}

#go-back {
  box-sizing: border-box;
  margin-top: 3%;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  font-weight: bold;
  color: black;
  margin-left: 80%;
}

